In [1]:
a=10
b=21
print(a,b)

10 21

In [2]:
print("Hello World")

Hello World

In [3]:
#integer
a=10
print(a)

10

In [4]:
a="Hello"
print(a)

Hello

In [5]:
#float
a=1.14
print(a)

1.14

In [6]:
#list
a=[2,3,4,5,9]
print(a)

[2, 3, 4, 5, 9]

In [7]:
#tuple
a=(1,2,3,4)
print(a)

(1, 2, 3, 4)

In [8]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [9]:
a= ''' It run on an Interpretor system meaning that code '''
print(a)

 It run on an Interpretor system meaning that code

In [10]:
a=4%2
print(a)

0

In [11]:
a=b/2
print(a)

1.0

In [12]:
a="1"
b="2"
a==b

False

In [13]:
a="1"
b="2"
a!=b

True

In [14]:
a="1"
b="2"
a<=b

True

In [15]:
a="1"
b="2"
a>=b

False

In [16]:
chr(65)

'A'

In [17]:
chr(116)

't'

In [18]:
chr(16)

'\x10'

In [19]:
chr(7)

'\x07'

In [20]:
a=5
b=6
c=7
a>c and c<a

False

In [21]:
a=5
b=6
c=7
a<c or a>b

True

In [22]:
a=5
b=6
c=7
b!=c or a>b

True

In [23]:
a=5
b=6
c=7
c==b or b!=a

True

In [24]:
a=10
if a==10:
    print(a)
else:
    print("not equal")

10

In [25]:
a=10
if a>=10:
    print(a)
else:
    print("not equal")

10

In [31]:
number=int(input("Enter a number"))
if number%2 == 0:
    print("The number is even")
elif number%2 == 1:
    print("The number is odd")
else:
    print("Invalid Input")

The number is odd

In [32]:
marks=int(input("Enter your Marks"))
if marks>=90:
    print("Grade A")
elif marks>=70:
    print("Grade B")
elif marks >=50:
    print("Grade C")
else:
    print("Fail")

Grade A

In [33]:
age=int(input("Enter your age"))
if age >=18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [22]:
a= "Hello World01"
name=" hi nivi"
d=name.split(" ")
print(a)
print(name)
name.capitalize()
name.title()
a.upper()
a.lower()
a.isupper()
a.isnumeric()
a.isalnum()
a.replace("Hello","chocolate")
"".join(a)

Hello World01
 hi nivi

'Hello World01'

In [23]:
a= "Hello World01"
name=" hi nivi"
d=name.split(" ")
" ".join(d)

' hi nivi'

In [26]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
c="  Have a nice day  "
c.strip()
c.split(" ")

['', '', 'Have', 'a', 'nice', 'day', '', '']

In [27]:
for i in range(1,4):
  for j in range(0,i):
      print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2

In [29]:
for i in range(10):
    if i==5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
a=0
while a<=10:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10

In [39]:
a=10
while a>=0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
fact = 4
i = 1
factorial = 1

while i <= fact:
    factorial = factorial * i
    i = i + 1

print(factorial)

16

In [1]:
num = int(input("Enter a number: "))
fact = 1
i = 1

while i <= num:
    fact = fact * i
    i = i + 1

print("Factorial is", fact)

Factorial is 6

In [ ]:
print("Welcome to the calculator")

while True:
    print("\nChoose operation:")
    print("1. Addition (+)")
    print("2. Subtraction (-)")
    print("3. Multiplication (*)")
    print("4. Division (/)")
    print("5. Exit")

    choice = input("Enter your choice (1/2/3/4/5): ")

    if choice == '5':
        print("Thank you for using the calculator!")
        break

    if choice not in ['1', '2', '3', '4']:
        print("Invalid choice. Please enter a number from 1 to 5.")
        continue

    num1_input = input("Enter number 1: ")
    num2_input = input("Enter number 2: ")

    if not (num1_input.replace('.', '', 1).isdigit() and num2_input.replace('.', '', 1).isdigit()):
        print("Invalid input. Please enter numeric values.")
        continue

    num1 = float(num1_input)
    num2 = float(num2_input)

    if choice == '1':
        print("Result:", num1 + num2)
    elif choice == '2':
        print("Result:", num1 - num2)
    elif choice == '3':
        print("Result:", num1 * num2)
    elif choice == '4':
        if num2 != 0:
            print("Result:", num1 / num2)
        else:
            print("Error: Cannot divide by zero.")

Welcome to the calculator

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Exit
Invalid input. Please enter numeric values.

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Exit
Result: 5.0

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Exit
Invalid choice. Please enter a number from 1 to 5.

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Exit
Result: 4.0

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Exit

In [2]:
while True:
    num1 = float(input("Enter first number: "))
    operator = input("Enter operator (+, -, *, /): ")
    num2 = float(input("Enter second number: "))

    if operator == '+':
        print("Result:", num1 + num2)
    elif operator == '-':
        print("Result:", num1 - num2)
    elif operator == '*':
        print("Result:", num1 * num2)
    elif operator == '/':
        if num2 != 0:
            print("Result:", num1 / num2)
        else:
            print("Cannot divide by zero!")
    else:
        print("Invalid operator!")

    print("\nDo you want to continue?")
    print("1. Yes")
    print("2. Exit")

    choice = input("Enter choice (1/2): ")

    if choice == '2':
        print("Thank you for using the calculator!")
        break

Result: 10.0

Do you want to continue?
1. Yes
2. Exit
Invalid operator!

Do you want to continue?
1. Yes
2. Exit
Thank you for using the calculator!

In [33]:
a=["apple",1,2,"doll",4]
a[0:4]
a[1:]
a[:3]
a.append("Chocolate")
print(a)
a.insert(1,"baby")
print(a)
a[2]="ring"
print(a)
a.pop()
print(a)
a.pop(2)
print(a)
c=[1.2,5,"heaven","good",2.7]
a.extend(c)
print(a)
a.remove("doll")
print(a)
a.count(2)
a.index(4)
d=[2,3,4,6,5]
d.sort()
print(d)
d.reverse()
print(d)
e=d.copy()
e[0]=16
print(e)

['apple', 1, 2, 'doll', 4, 'Chocolate']
['apple', 'baby', 1, 2, 'doll', 4, 'Chocolate']
['apple', 'baby', 'ring', 2, 'doll', 4, 'Chocolate']
['apple', 'baby', 'ring', 2, 'doll', 4]
['apple', 'baby', 2, 'doll', 4]
['apple', 'baby', 2, 'doll', 4, 1.2, 5, 'heaven', 'good', 2.7]
['apple', 'baby', 2, 4, 1.2, 5, 'heaven', 'good', 2.7]
[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]
[16, 5, 4, 3, 2]

In [35]:
a=(1,2,3,9,"pink")
a[0:]
a.count(1)

1

In [45]:
a={"name":"apsara","age":19,"Date of Birth":"19-02-2000","address":"Nagarcoil","Phone no":9789350280}
a["name"]
a.get("name")
a["name"]="doll"
print(a)
a["colour"]=16
print(a)
a.copy()
a.update({"address":"Kerala"})
print(a)

{'name': 'doll', 'age': 19, 'Date of Birth': '19-02-2000', 'address': 'Nagarcoil', 'Phone no': 9789350280}
{'name': 'doll', 'age': 19, 'Date of Birth': '19-02-2000', 'address': 'Nagarcoil', 'Phone no': 9789350280, 'colour': 16}
{'name': 'doll', 'age': 19, 'Date of Birth': '19-02-2000', 'address': 'Kerala', 'Phone no': 9789350280, 'colour': 16}

In [47]:
for i in a.values():
    print(i)

doll
19
19-02-2000
Kerala
9789350280
16

In [48]:
a.pop("name")
print(a)

{'age': 19, 'Date of Birth': '19-02-2000', 'address': 'Kerala', 'Phone no': 9789350280, 'colour': 16}

In [50]:
a.popitem()
print(a)

{'age': 19, 'Date of Birth': '19-02-2000', 'address': 'Kerala'}

In [52]:
a.clear()
print(a)

{}

In [19]:
data = {
    "Name": "",
    "Address": "",
    "Phone": "",
    "DOB": "",
    "Hobbies": [],
    "Guardian": "",
    "Parents": ""
}
while True:
    print("\nMENU:")
    print("1. Add Details")
    print("2. Update Details")
    print("3. Remove (Pop) a Detail")
    print("4. Exit")
    choice = input("Enter your choice (1-4): ")
    if choice == '1':
        data["Name"] = input("Enter Name: ")
        data["Address"] = input("Enter Address: ")
        data["Phone"] = input("Enter Phone Number: ")
        data["DOB"] = input("Enter Date of Birth (DD/MM/YYYY): ")
        hobbies_count = int(input("How many hobbies? "))
        data["Hobbies"] = []
        for i in range(hobbies_count):
            hobby = input(f"Enter hobby {i+1}: ")
            data["Hobbies"].append(hobby)
        data["Guardian"] = input("Enter Guardian Name: ")
        data["Parents"] = input("Enter Parents Details: ")
        print("\nDetails Added Successfully!")
    elif choice == '2':
        print("\nWhat do you want to update?")
        print("1. Name")
        print("2. Address")
        print("3. Phone")
        print("4. DOB")
        print("5. Hobbies")
        print("6. Guardian")
        print("7. Parents")
        update_choice = input("Enter your choice: ")
        if update_choice == '1':
            data["Name"] = input("Enter New Name: ")
        elif update_choice == '2':
            data["Address"] = input("Enter New Address: ")
        elif update_choice == '3':
            data["Phone"] = input("Enter New Phone Number: ")
        elif update_choice == '4':
            data["DOB"] = input("Enter New DOB (DD/MM/YYYY): ")
        elif update_choice == '5':
            hobbies_count = int(input("How many new hobbies? "))
            data["Hobbies"] = []
            for i in range(hobbies_count):
                hobby = input(f"Enter hobby {i+1}: ")
                data["Hobbies"].append(hobby)
        elif update_choice == '6':
            data["Guardian"] = input("Enter New Guardian Name: ")
        elif update_choice == '7':
            data["Parents"] = input("Enter New Parents Details: ")
        else:
            print("Invalid update choice!")
        print("\nDetails Updated Successfully!")
    elif choice == '3':
        print("\nWhich detail do you want to remove?")
        print("1. Name")
        print("2. Address")
        print("3. Phone")
        print("4. DOB")
        print("5. Hobbies")
        print("6. Guardian")
        print("7. Parents")
        remove_choice = input("Enter your choice: ")
        if remove_choice == '1':
            data.pop("Name")
        elif remove_choice == '2':
            data.pop("Address")
        elif remove_choice == '3':
            data.pop("Phone")
        elif remove_choice == '4':
            data.pop("DOB")
        elif remove_choice == '5':
            data.pop("Hobbies")
        elif remove_choice == '6':
            data.pop("Guardian")
        elif remove_choice == '7':
            data.pop("Parents")
        else:
            print("Invalid remove choice!")
        print("\nDetail Removed Successfully!")
    elif choice == '4':
        print("\nThank you for using the Student Information System!")
        break
    else:
        print("\nInvalid choice! Please select between 1 to 4.")
    print("\nCurrent Details:")
print(data)

MENU:
1. Add Details
2. Update Details
3. Remove (Pop) a Detail
4. Exit

Details Added Successfully!

Current Details:

MENU:
1. Add Details
2. Update Details
3. Remove (Pop) a Detail
4. Exit

Thank you for using the Student Information System!
{'Name': 'nivi', 'Address': 'ngl', 'Phone': '9789350280', 'DOB': '16/07/2006', 'Hobbies': ['gardening', 'drawing'], 'Guardian': 'indira', 'Parents': 'xyz'}

In [17]:
a="hi friends"
a.split (",")

['hi friends']

In [4]:
name=input("Enter your name")
print(f"your name is {name}")

your name is nivi

In [ ]:
a={1,2,"cat",4,7}
a.remove(1)
print(a)
a.add(9)
print(a)

{2, 'cat', 4, 7}
{2, 'cat', 4, 7, 9}

In [11]:
def hello():
  print("Hi")
hello()

Hi

In [19]:
def add(a,b):#argument
    print(a+b)
add(1,2)#parametre

3

In [22]:
def add(a=50,b=20):
    return a+b
    e=add(50,20)
    print(e)

In [28]:
def student(*a):
  print(a)
student(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [33]:
def student(**a):
    print(a)
student(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [34]:
def cal(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    return (add,sub,mul)
cal(3,4)

(7, -1, 12)

In [2]:
def s(a):
    if a>0:
        res=a+s(a-1)
        return res
    else:
        return 0
s(0)

0

In [6]:
def add(a,b):
   add=a+b
   return add
add(2,3)

5

In [3]:
x=lambda a,b:a+b
x(2,10)

12

ERROR! Session/line number was not unique in database. History logging moved to new session 174

In [7]:
x=lambda a,b,c:a+b+c
x(2,10,6)

18

In [5]:
a={"name":"nivi","age":10}
a.items()

dict_items([('name', 'nivi'), ('age', 10)])

In [7]:
a=[0,1,2,3]
a[0:]

[0, 1, 2, 3]

In [8]:
a=(1,2,3,4)
b=list(a)
print(b)

[1, 2, 3, 4]

In [6]:
a={"name","age","place",1,"i"}
a.remove("name")
print(a)

{1, 'age', 'i', 'place'}